.header {
  background-color: black;
  padding: 2em;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  color: white;
  text-decoration: none;
  padding: .5em;
  font-size: 1.2em;
}

.itemLink {
  text-decoration: none;
  color: black;
}

.white-text {
  color: white;
  font-size: 1.2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

select {
  margin: 1.5em;
}

.no-items {
  padding: 2em;
  text-align:center;
  font-size: 2em;
  width: 100%;
}

.confirm-button {
  position: absolute;
  bottom: 2em;
  right: 2em;
}